@inherits AssetManagerBase

<img id="imgTerrain" @ref="Terrain" @ref:suppressField @onload="TerrainImageLoaded" hidden />

@if (!AssetsLoaded)
{
    <div class="lds-dual-ring"></div>
}

@ChildContent