@inherits ChatBase

    <div class="form-group">
        <ul id="chathistory" class="chathistory list-group d-flex flex-column-reverse">
            @foreach (string message in ChatHistory)
            {
                <li class="list-group-item p-2">@message</li>
            }
        </ul>
        <input id="textentry" class="form-control" type="text" bind=@ComposedText autocomplete="off" />
        <button id="sendText" class="btn btn-primary" onclick=@SendTextClicked>Send</button>
    </div>
