@inherits ChatBase

<div id="chathistory" class="chathistory">
    @foreach (string message in ChatHistory)
    {
        <div>@message</div>
    }
</div>
<div>
    <input id="textentry" class="form-control" type="text" bind=@ComposedText autocomplete="off" />
    <button id="sendText" onclick=@SendTextClicked>Send</button>
</div>
