@inherits ChatBase

    <div class="form-group">
        <div class="row">
            <div class="column">
                <ul id="chathistory" class="chathistory list-group d-flex flex-column-reverse">
                    @foreach (string message in ChatHistory)
                    {
                        <li class="list-group-item p-2">@message</li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="textentry" class="form-control" type="text" autocomplete="off" bind-value-oninput=@ComposedText onkeypress=@TextEntryKeyPressed />
            </div>
            <div class="col-md-auto">
                <button id="sendText" class="btn btn-primary" onclick=@SendTextClicked>Send</button>
            </div>
        </div>
    </div>
