@inherits CreatePlayerBase

    <div class="form-group">
        <input id="textentry" class="form-control" type="text" bind=@PlayerName placeholder="Player Name" autocomplete="off"/>
        <button id="sendText" class="btn btn-primary" onclick=@CreatePlayerClicked>Start</button>
    </div>
    