@inherits CreatePlayerBase

    <div>
        <input id="textentry" class="form-control" type="text" bind=@PlayerName />
        <button id="sendText" onclick=@CreatePlayerClicked>Start</button>
    </div>
    