@page "/"

@inject IUriHelper UriHelper
@inject IConfig  Config


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button onclick=@GoToLogin>Log In</button>

@functions {
    public void GoToLogin() {
        UriHelper.NavigateTo( $"{Config.LogInUrl}&redirect_uri={Config.RedirectUrl}" );
    }
}