@page "/"
@inherits IndexPageBase
@layout MainLayout

@if (State.Authentication.IsAuthenticated)
{
    @if (State.Game.Player != default)
    {
        <button onclick=@Play>Play</button>
    }
    else
    {
        <CreatePlayer></CreatePlayer>
    }
}
