@inherits MainLayoutBase

<div class="main">
    <div class="navbar navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li>
                <span>Station</span>
            </li>
        </ul>
        <ul class="navbar-nav">
        @if (State.Authentication.IsAuthenticated)
        {
            <li class="nav-item">
                <span>@State.Authentication.User.Name</span>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href=@LogInUrl class="nav-link">Log In</a>
            </li>
        }
        </ul>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
