@inherits MainLayoutBase

<div class="main">
    <div class="top-row px-4">
        @if (State.Authentication.IsAuthenticated)
        {
            <span class="ml-md-auto">@State.Authentication.User.Name</span>
        }
        else
        {
            <a href=@LogInUrl class="ml-md-auto">Log In</a>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
