@page "/play"
@inherits PlayPageBase
@layout MainLayout

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <GameCanvas></GameCanvas>
        </div>
        <div class="col align-bottom">
            <Chat></Chat>
        </div>
    </div>
</div>
