@page "/play"

<div class="render">
    <canvas width="@Width" height="@Height" id="terrainCanvas" @ref="TerrainCanvas"></canvas>
    <canvas width="@Width" height="@Height" id="renderCanvas" @ref="Canvas"></canvas>
</div>
